.image-container{
    position: cover
;
    width: 100%;
    z-index: -1;
}

.image-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(34, 34, 34, 0.649);
    border-radius: 5px;
    padding: 8px;
  }


.card {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px;
    border-radius: 5px;
}

.card a {
    color: black;
    text-decoration: none;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.8);
}




